.button-up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #FFAC1C;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    i {
        font-size: 28px;
        color: #FFF;
        font-weight: 2.5px;
    }
}