.button {
    font-size: 0.6667rem;
    display: block;
    margin: 60px auto 0;
    width: 312px;
    height: 60px;
    line-height: 60px;
    &--white {
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        transition: color .3s linear;
    }
    &--white:hover {
        color: #d61596;
        background-color: #FFF;
    }
    &--black {
        color: $text-color-secondary;
        border: 2px solid #000000;
        border-radius: 30px;
        transition: color .2s linear;
    }
    &--black:hover {
        color: #d61596;
        background-color: #000000;
    }
}

@media screen and (max-width: 1024px) {
    .button {
        font-size: 0.5667rem;
        width: 248px;
        height: 48px;
        line-height: 48px;
        &--black {
            font-size: 0.5667rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .button {
        font-size: 0.5667rem;
        width: 248px;
        height: 48px;
        line-height: 48px;
        &--black {
            font-size: 0.5667rem;
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 678px) {
    .button {
        &--black {
            margin-top: 45px;
        }
    }
}