.footer {
    background-color: $bg-color-secondary;
    padding: 100px 0;
    &__title {
        font-size: 2.1667rem;
        margin-bottom: 60px;
    }
    &__text {
        font-size: 0.8333rem;
        line-height: 31px;
        color: #B1B1B1;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 80px 0;
        &__title {
            font-size: 1.1667rem;
            margin-bottom: 50px;
        }
        &__text {
            font-size: 0.6667rem;
            margin-bottom: 47px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 70px 0;
        &__title {
            font-size: 1.3333rem;
            margin-bottom: 40px;
        }
        &__text {
            font-size: 0.6rem;
            margin-bottom: 35px;
        }
    }
}