.max-width {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .max-width {
        flex-direction: column;
    }
}