.menu-blocks {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
    .menu-blocks {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 768px) {
    .menu-blocks {
        flex-direction: column;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 678px) {
    .menu-blocks {
        align-items: center;
    }
}
